.titleproject{
    display: flex;
    justify-content: center;
    margin-top: 150px;
}
.project_card{
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    & img{
        width: 290px;
        height: 280px;
        border-radius: 0.5rem;
    }
}
.project_card--todo,
.project_card--calculator,
.project_card--web,
.project_card--da {
    width: 300px;
    height: 400px;
    padding: 5px;
    border: 0.5px solid #3b3b50;
    border-radius: 0.5rem;
    transition: transform 0.5s;
}
.project_card--todo:hover,
.project_card--calculator:hover,
.project_card--web:hover,
.project_card--da:hover{
    border: 0.5px solid #00abf0;
    box-shadow:0 15px 30px rgba(0, 171, 240, 0.1);
    transform: scale(1.1);
}